body{
    padding: 5% 20%;
    background-color: rgb(71, 109, 110);
}
.container{
    background-color: rgb(98, 177, 151);
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 2px 5px 30px rgb(71, 65, 65);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    margin:0;
    font-size: 2em;
    color:rgb(34, 115, 219);
}

input:focus{
    outline: none;
}
input{
    width: 80%;
    height: 30px;
    padding: 2px 20px;
    border: 2px solid rgb(151, 86, 151);
    border-radius: 10px;
    background-color: yellowgreen;
}